/* Footer Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu Sans", sans-serif;
}

.footer {
  padding: 2rem 0 1rem 7vw;
  background-color: #992c99;
  color: white;
}

.footer-top {
  display: grid;
  grid-template-columns: 300px 250px 250px 250px;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px white;
  margin-right: 9.7rem;
}

.footer-top-heading {
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.img-div {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.terms {
  padding-right: 9rem;
}

.rights,
.terms {
  margin-top: 2rem;
}

.about-list,
.contact-list,
.support-list {
  list-style: none;
}

.about {
  margin-left: 3rem;
}

@media (max-width: 450px) {
  .footer-top {
    display: block;
    padding-bottom: 2rem;
    border-bottom: solid 1px white;
    margin-right: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
